@model ProductModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row  mt-3">
    <div class="col-xl-12 d-flex grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-between">
                    <h4 class="card-title mb-3">Toplam Cari</h4>
                    <p class="mb-3 float-right">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModalone">+ Yeni Ürün Ekle</button>
                    </p>
                </div>
                <div class="modal fade" id="myModalone" role="dialog" style="display: none;">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <h2 class="modal-title">Yeni Ürün Ekle</h2>
                            <div class="modal-body">
                                <form asp-controller="Product" asp-action="AddProduct" method="post">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group ic-cmp-int">
                                            Ürün adı
                                            <div class="nk-int-st">
                                                <input type="text" asp-for="Name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group ic-cmp-int">
                                            Açıklama
                                            <div class="nk-int-st">
                                                <input type="text" asp-for="Description" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group ic-cmp-int">
                                            Geliş Fiyatı
                                            <div class="nk-int-st">
                                                <input type="text" asp-for="CostPrice" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group ic-cmp-int">
                                            Satış Fiyatı
                                            <div class="nk-int-st">
                                                <input type="text" asp-for="SalePrice" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group ic-cmp-int">
                                            Stok Sayısı
                                            <div class="nk-int-st">
                                                <input type="number" asp-for="TotalStock" class="form-control">
                                            </div>
                                        </div>
                                    </div>


                                    <button type="submit" class="btn btn-success">Ürünü ekle</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped" id="myTable">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ürün Adı</th>
                                        <th>Açıklama</th>
                                        <th>Maliyet Fiyatı</th>
                                        <th>Satış Fiyatı</th>
                                        <th>Toplam Adet</th>
                                        <th>Beklenen Kar</th>
                                        <th>#</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Products.Count() > 0)
                                    {
                                        var count = 1;
                                        @foreach (var item in Model.Products)
                                        {
                                            <tr>
                                                <td>@(count++)</td>
                                                <td>@item.Name</td>
                                                <td>@item.Description</td>
                                                <td>@item.CostPrice TL</td>
                                                <td>@item.SalePrice TL</td>
                                                <td>@item.TotalStock Adet</td>
                                                <td>@(item.ExpectedProfit) TL</td>
                                                <td class="d-flex">
                                                    <button class="btn btn-info btn-sm" title="Düzenle" data-toggle="modal" data-target="#myModal@(count*10)"><i class="fa-solid fa-pen-to-square"></i></button>
                                                    <div class="modal fade" id="myModal@(count*10)" role="dialog" style="display: none;">
                                                        <div class="modal-dialog modal-sm">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h2 class="modal-title">Ürünü Düzenle</h2>
                                                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form asp-controller="Product" asp-action="EditProduct" method="post">
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="form-group ic-cmp-int">
                                                                                Ürün adı
                                                                                <div class="nk-int-st">
                                                                                    <input type="text" asp-for="Name" value="@item.Name" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="form-group ic-cmp-int">
                                                                                Açıklama
                                                                                <div class="nk-int-st">
                                                                                    <input type="text" asp-for="Description" value="@item.Description" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="form-group ic-cmp-int">
                                                                                Geliş Fiyatı
                                                                                <div class="nk-int-st">
                                                                                    <input type="text" asp-for="CostPrice" value="@item.CostPrice" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="form-group ic-cmp-int">
                                                                                Satış Fiyatı
                                                                                <div class="nk-int-st">
                                                                                    <input type="text" asp-for="SalePrice" value="@item.SalePrice" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="form-group ic-cmp-int">
                                                                                Stok Sayısı
                                                                                <div class="nk-int-st">
                                                                                    <input type="number" asp-for="TotalStock" value="@item.TotalStock" class="form-control">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <input type="hidden" asp-for="Id" value="@item.Id" />
                                                                        <button type="submit" class="btn btn-success">Ürünü güncelle</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <form asp-controller="Product" asp-action="DeleteProduct" method="post">
                                                        <input type="hidden" asp-for="Id" value="@item.Id" />
                                                        <button type="submit" class="btn btn-danger btn-sm" title="Sil"><i class="fa-solid fa-trash-can"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Css{
    <link href="//cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet" />
}


@section Scripts{
    <script src="//cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>

    <script>
        $(function () {
            $('#myTable').DataTable({
                //language: {
                //    url: "//cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json"
                //}
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.12/i18n/Turkish.json"
                }
            });
        });
    </script>
}